# Ignore everything
*

# But not these files...
!/.gitignore
!/LICENSE
!/docker-compose.yaml
!/crypto-config.yaml
!/configtx.yaml
!/byfn-simple.sh
!/README.md

!*/



!/scripts/build-network.sh
!/scripts/test-network.sh
!/scripts/bash-settings.cfg
!/scripts/utils.sh
!/scripts/README.md
!/scripts/test_sc.sh
!/scripts/update_chaincode.sh




