# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!LICENSE
!docker-compose.yaml
!crypto-config.yaml
!configtx.yaml
!byfn-simple.sh

!*/

!*/build-network.sh
!*/test-network.sh
!*/bash-settings.cfg
!*/utils.sh

!*/BYFN-slides-git.pdf
!*/follow-along.md


!*/*.go